.howItWorks {
  max-width: 1248px;
  margin: 0 auto !important;
  .howItWorksItems {
    img {
      height: 190px;
      margin: auto;
      width: auto;
    }
    .HowItsWorkContent {
      .HowItsWorkHeading {
        font-size: 24px;
      }
      .HowItsWorkDetails {
        font-size: 16px;
      }
    }
  }
}
