.accountDetails {
  padding-bottom: 8px !important;
  margin-right: 10px !important;
  .smallText {
    font-size: 10px;
    font-weight: 300;
  }
  .accountText {
    font-weight: 700;
    line-height: 10px;
    position: relative;

    i {
      font-size: 13px;
      position: absolute;
      right: -20%;
      top: -23%;
    }
  }
}
