.selectCity {
  font-weight: bold;
  background-color: #f2f3f5;
  padding: 15px 10px 15px 10px !important;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  .downIcon {
    padding-left: 40px !important;
    position: relative;
    i {
      font-size: 12px;
      position: absolute;
      right: 1%;
      top: 20%;
    }
  }
}
