.bankersTrending {
  background-color: #f5f6f9;
  .ourBankers {
    max-width: 1248px;
    margin: 0 auto !important;
    img {
      width: 250px;
      height: 130px;
      margin: 0 auto;
    }
  }
}
