.topHeader {
  border-bottom: solid 1px #ccc;
  height: 80px;
  box-shadow: 0px 0px 6px 0px #9d9d9d;

  .headerContainer {
    max-width: 1248px;
    margin: 0 auto !important;
    .location {
      margin: 0 12px 0 25px !important;
    }

    .mainSearch {
      width: 22.3em;
      position: relative;
    }

    .chatWithUs {
      cursor: pointer;
    }

    .callUsAt {
      padding-left: 20px !important;
      border-left: solid 2px #f2f3f5;
      text-align: left;
      color: #ed264f;
      padding-bottom: 10px !important;
      .smallText {
        font-size: 10px;
        font-weight: 300;
      }
      .phoneNumber {
        line-height: 10px;
        font-weight: 700;
        font-size: 15px;
      }
    }
  }
}
