input {
  padding: 10px 10px 13px 10px !important;
  background-color: #f2f3f5;
  border: solid 1px #f2f3f5;
  border-radius: 5px;
  width: 100%;
}
.searchIcon {
  position: absolute;
  top: 28%;
  right: 5%;
  font-size: 20px;
  color: #888888;
}
