.mainNavigation {
  .navHead {
    // box-shadow: -16px 1px 3px 0px #6300a3;
  }
  .navItem {
    p {
      font-weight: 400;
      cursor: pointer;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    i {
      margin: 3px 0 0 8px;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .searchByCity {
    .searchByCityTittle {
      font-weight: 400;
      text-transform: capitalize;
      font-size: 30px;
      margin-bottom: 35px;
    }
    .cityItem {
      cursor: pointer;
      img {
        width: 75px;
      }
      p {
        padding: 5px;
        width: 90px;
      }
      &:hover {
        color: #2e054e;
        font-weight: 700;
      }
    }
  }
}
