.categoryBased {
  margin-top: 30px !important;
  max-width: 1248px;
  margin: 0 auto !important;
  .categoryTitle {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 30px;
  }
  .categoryList {
    .categoryItem {
      cursor: pointer;
      img {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 50%;
        transition: transform 0.2s ease-out;
      }
      .categoryItemTitle {
        font-weight: 400;
        margin-top: 10px !important;
        width: 195px;
      }
      &:hover {
        img {
          transform: scale(1.03);
          box-shadow: 0 2px 8px rgb(0 0 0 / 16%);
        }
        .categoryItemTitle {
          color: #2e054e;
          font-weight: 700;
        }
      }
    }
  }
}
